<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diabetes Prediction Score</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h1><div class="text-info"  style="text-align: center;">Prediction Result</div></h1>
    <hr>
    <div class="card-text-center" style="width: 21.5em; margin:0 auto;">
        <div class="card-body">
            <p class="card text"><h1 class="text-primary">
            <script>
                    let predict = {{ prediction }}

                    if (predict >= 0.7 ){
                        document.body.innerHTML = "<h2><div style='text-align: center;font-weight-bold'>You may have diabetes, Please consult a doctor.</div></h2>"
                    }
                    
                    else{
                        document.body.innerHTML = "<h2><div style='text-align: center;font-weight-bold'>You dont have Diabetes, Still take proper care.</div></h2>"
                    }
                </script>
            </h1></p>

        </div>

    </div>
    
</body>
</html>